@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#pictofond{

  // background-image: url("./../public/HomePage/fond.jpg")
  // background-image: url("/HomePage/fond.jpg")
   background-color: #30343f;
   height: 100%;
   text-align: center;
}

#nomPicto {
  text-align: center;
  color: white;
}

