@import "~bootstrap/scss/bootstrap";

//*{
//  border : solid 1px red
//}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2{
  font-family: 'Just Another Hand', cursive;
}

.container {
  flex-direction: row;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// Zone Picto CSS


#pictofond{
  background-image: url('/HomePage/fond.jpg');
  background-size: cover;
}

#nomPicto {
  // text-align: center;
  padding-top: 10px;
  font-size: 20px;
  color: white;
}

.miniproduit{
  width: 50px;
  height: auto;
}



// Zone Call to action (Jumbotron) CSS

.jumbotron{
  background-image: url('/HomePage/jumbotron_fond.jpg');
  margin-top: 50px;
  padding-top:50px ;
  text-align: center;
 color: white;
 background-size: cover;
}


.my-4{
  background-color: #fcbe06;
  height: 5px;
  width: 100px
}

// Zone adresse + map

.my-2{
  background-color: #fcbe06;
  height: 4px;
  width: 100px;
  margin-right: 500px;
}

// card

.card-img-top{
  max-width: 60%;
  height: auto;
  margin: 0 auto;
}

.text-muted{
  text-align: center;
  font-size: 30px;
 
  
}

.card-text{
  text-align: center;
 margin-bottom: 0px;
 
}

.card-title{
  font-family: 'Just Another Hand', cursive;
  text-align: center;
}

.btn {
  font-family: 'Just Another Hand', cursive;
  color: white;
}